<div class="login">

    <ul>
        <li class="username"><input type="text" id="username" value="arnab.jis.it@gmail.com"></li>
        <li class="password"><input type="text" id="password" value="123@AAditri"></li>
        <li class="go"><button id="go" onclick="loginAction()">Go</button></li>
    </ul>
    <button id="getRoles" onclick="rolesAction()">Get Authorizations</button>
    <button id="getRoles" onclick="userRouteAccessTest()">test uri access for user</button>

</div>