<p>
    To login, enter your username and password in the form on the login page. The username and password fields are
    labeled so you know which is which. Once you enter your credentials, click the Login button to submit the form. If
    the username and password match our records, you will be logged in. If the credentials are incorrect, you will see
    an error message prompting you to try again. Forgot your password? Click the "Forgot Password" link to reset it.
    Still having trouble? Contact our support team for assistance logging in.
</p>